<div class="row">
  <div class="span8">
    <%= simple_form_for(@request, :html => {:class => 'form-horizontal' }) do |f| %>
      <%= content_tag :fieldset do %>
        <legend>We'll find a Self-Storage Location near you</legend>
        <%= f.input :postcode, :input_html => { :class => 'typeahead' }, hint: "Which area best suits you?" %>
        <%= f.input :email %>
        <%= f.input :phone, hint: "We'll need some contact information to get back to you." %>
        <%= f.input :move_in_date, as: :string, :input_html => { :class => 'datepicker' } %>
      <% end %>

      <%= content_tag :fieldset do %>
        <legend>Optional Requirements</legend>
        <%= f.input :climate, label: "Climate Control" %>
        <%= f.input :drive_access, label: "Drive-up access" %>
        <%= f.input :all_day, label: "24 hour access" %>
      <% end %>
      <%= f.button :submit, "Submit request", class: "btn-primary btn-large" %><h5>We'll get back to you soon!</h5>
    <% end %>
  </div>
  <div class="span4">
    <div class="well">
      <p>
        Storage Spy is a new service based in Australia aiming to provide a new marketplace for self-storage solutions.
      </p>
      <p>
        If you fill out this simple form, we'll put you in touch with the best self-storage business that will suit your needs. 
      </p>
    </div><!--/.well -->
  </div><!--/span-->
</div><!--/row-->
<%= javascript_tag do %>
window.postcodes = <%= raw @request.postcodes.to_json %>;
<% end %>

