<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Storage Quote Request filed</h1>
    <p>
      postcode: <%= @request.postcode %> <br />
      email: <%= @request.email %> <br />
      phone: <%= @request.phone %> <br />
      move in date: <%= @request.move_in_date %> <br />
      climate: <%= @request.climate %> <br />
      drive access: <%= @request.drive_access %> <br />
      all day access: <%= @request.all_day %> <br />
      date created: <%= @request.created_at %><br />
      comments: <%= @request.comments %><br />
    </p>
  </body>

</html>
